In [26]:
import pandas as pd
from clean_data_functions import cleanse_data

In [30]:
marsons_df = pd.read_csv('pub_data_result_latest.csv')
marsons_df.columns =['pub_name', 'address', 'category', 'item_name', 'item_price', 'opening_times']
marsons_df['item_price'] = marsons_df['item_price'].replace(to_replace='[^0-9.]', value='', regex=True)
# postcode = marsons_df['city'].str.split(',').str[-1]
# marsons_df['postcode'] = postcode
# marsons_df['city'] = marsons_df['city'].str.split(',').str[0]
# marsons_df['category'] = marsons_df['category'].replace(to_replace=' ', value='', regex=True)
marsons_df['category'] = marsons_df['category'].astype('category')
# marsons_df['category'].describe()
marsons_df

,pub_name,address,category,item_name,item_price,opening_times
0,Viking's Landing Liverpool,"Liverpool, L11 2BD",Starters & Sharers,Soup of the Day (V),4.70,09:00 - 23:00
1,Viking's Landing Liverpool,"Liverpool, L11 2BD",Starters & Sharers,Soup of the Day (Ve),4.70,09:00 - 23:00
2,Viking's Landing Liverpool,"Liverpool, L11 2BD",Starters & Sharers,Crispy Buttermilk Chicken Goujons for One,5.60,09:00 - 23:00
3,Viking's Landing Liverpool,"Liverpool, L11 2BD",Starters & Sharers,Brie Dippers for One (V)*,5.60,09:00 - 23:00
4,Viking's Landing Liverpool,"Liverpool, L11 2BD",Starters & Sharers,Mexican Nachos for One (V),5.60,09:00 - 23:00
...,...,...,...,...,...,...
67419,White Hart Calow,"Calow, S44 5TE",Snacks,Nobbys Sweet Chilli,1.20,09:00 - 23:00
67420,White Hart Calow,"Calow, S44 5TE",Snacks,Pork Scratchings,1.10,09:00 - 23:00
67421,White Hart Calow,"Calow, S44 5TE",Snacks,Pretzels Original Sea Salted,1.20,09:00 - 23:00
67422,White Hart Calow,"Calow, S44 5TE",Snacks,Pretzels Sour Cream,1.20,09:00 - 23:00
67423,Still Lincoln,"Lincoln, LN2 1DH",NaN,NaN,NaN,NaN

In [31]:
marsons_df.to_csv('cleaned_data.csv')